@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.sub{
    height: 387.59px;
    width: 255.59px;
    background-color: white;
}
.save span{
    height: 22px;
    width: 90px;
    display: inline-block;
    background-color: #6E2594;
    border-radius: 0 15px 15px 0;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.product{
    text-align: center;
}
.row{
    background-color: gainsboro;
    height: 1.5px;
}
.product-name{
    font-family: 'Roboto', sans-serif;
}
.product-price .current-price{
    color: red;
    font-family: 'Poppins', sans-serif;
}
.product-price .older-price{
    color: black;
    font-family: 'Poppins', sans-serif;
}